<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!--
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:noNamespaceSchemaLocation="UnityConfiguration.xsd">
  -->
    <assembly name="AK.Abr" />
    <assembly name="AbrViewer" />
    <container>
      <register type="AK.Abr.IAbrReaderFactory" mapTo="AK.Abr.AbrReaderFactory" name="DefaultReaderFactory" />
      <register type="AK.Abr.IAbrReaderFactory" mapTo="AK.Abr.CachingAbrReaderFactory">
        <lifetime type="singleton" />
        <constructor>
          <param name="factory">
            <dependency name="DefaultReaderFactory" />
          </param>
          <param name="cache">
            <dependency />
          </param>
        </constructor>
      </register>
      <!--
      <register type="IBitmapCache" mapTo="DiskBitmapCache">
        <lifetime type="singleton" />
        <constructor>
          <param name="cacheFolder" value=" " />
          <param name="isPersistent" value="false" />
        </constructor>
      </register>
      -->
      <register type="AK.Abr.IBitmapCache" mapTo="AK.Abr.MemoryBitmapCache">
        <lifetime type="singleton" />
        <constructor>
          <param name="capacity" value="100" />
        </constructor>
      </register>
      <register type="AbrViewer.Services.IConfigService" mapTo="AbrViewer.Services.ConfigService">
        <lifetime type="singleton" />
        <constructor>
          <param name="configFileName" value="AbrViewer.json" />
        </constructor>
      </register>
    </container>
  </unity>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>