<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AbrViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <namespace name="AK.Abr" />
    <assembly name="AK.Abr" />
    <container>
      <register type="IAbrReaderFactory" mapTo="AbrReaderFactory" name="DefaultReaderFactory" />
      <register type="IAbrReaderFactory" mapTo="CachedAbrReaderFactory">
        <constructor>
          <param name="factory">
            <dependency name="DefaultReaderFactory" />
          </param>
          <param name="cache">
            <dependency />
          </param>
        </constructor>
      </register>
<!--      <register type="IBitmapCache" mapTo="DiskBitmapCache">-->
<!--        <constructor>-->
<!--          <param name="cacheFolder" value=" " />-->
<!--          <param name="isPersistent" value="false" />-->
<!--        </constructor>-->
<!--        <lifetime type="singleton" />-->
<!--      </register>-->
      <register type="IBitmapCache" mapTo="MemoryBitmapCache">
        <constructor>
          <param name="capacity" value="100" />
        </constructor>
        <lifetime type="singleton" />
      </register>
    </container>
  </unity>

  <applicationSettings>
    <AbrViewer.Properties.Settings>
      <setting name="ExitOnEsc" serializeAs="String">
        <value>True</value>
      </setting>
    </AbrViewer.Properties.Settings>
  </applicationSettings>
</configuration>